a:hover         { color: HotPink;}
body            { font-size: 12pt; font-family: sans-serif; background-color: White; }
h1, h2, h3      { font-family: 'Georgia', serif; margin: 0; }
h1              { font-size: 40pt; color: White; border-bottom: 2px solid #eee; }
h2              { font-size: 20pt; color: LightGrey; }
h3              { font-size: 20pt; color: DarkBlue; }
p               { font-size: 12pt; color: Black; margin: 5; }
a               { font-size: 12pt; text-decoration: none; }
fieldset        { font-size: 12pt; text-decoration: none; background-color: LightGrey; border: 1px solid #ddd; border-color: Blue; }
input           { font-size: 12pt; text-decoration: none; }
select          { font-size: 12pt; text-decoration: none; }
::placeholder   { color: LightGrey }
li              { display: inline; padding: 10px 30px; }
table           { width: 100%; background-color: DarkGrey; border-color: White; border-collapse: collapse;}
table caption   { border: 1px solid #ddd; padding: 3px; font-size: 16pt; color: White; background-color: DarkGrey; }
table tr:nth-child(even)  { background-color: #eee; }
table tr:nth-child(odd)   { background-color: #fff; }
table tr:hover  { background-color: LightSteelBlue; }
table td, th    { border: 1px solid #ddd; padding: 3px; }
table th        { color: White; background-color: DarkGrey; }
.company        { position:relative; padding: 10px; margin: 0px; background-color: DarkBlue; }
.menu           { position:relative; padding: 10px; margin: 0px; background-color: LightSteelBlue; text-align: right; text-transform: uppercase; }
.pane           { position:relative; padding: 10px; margin: 0px; background-color: LightSteelBlue; }
.footer         { position:relative; padding: 10px; margin: 0px; background-color: DarkBlue; color: LightGrey; }
