{% include 'header.html' %}
<div class = 'pane'>
  <table>
    <caption>Allocations</caption>
    <tr>
      <th>date modified</th>
      <th>portfolio</th>
      <th>allocation</th>
      <th>symbol</th>
      <th>description</th>
    </tr>
  {% for allocation in allocations %}
    <tr>
      <td style = "text-align: center">{{util.displayTime(allocation.date_mod, strip_option=3)}}</td>
      <td style = "text-align: center">{{allocation.portfolio}}</td>
      <td style = "text-align: right">{{'{:.2%}'.format(allocation.allocation)}}</td>
      <td><a href = "{{url_for('editAllocation', allocation_id = allocation.id)}}">{{allocation.asset.symbol}}</a></td>
      <td>{{allocation.asset.description}}</td>
    </tr>
  {% endfor %}
  </table>
  <p><a href="{{url_for('newAllocation')}}">Create a New Allocation</a></p>
  <p><a href="{{url_for('setFilter')}}">Filter Allocations</a></p>
</div>
{% include 'footer.html' %}
