{% include 'header.html' %}
<div class = 'pane'>
  <table>
    <caption>Assets</caption>
    <tr>
      <th>symbol</th>
      <th>description</th>
      <th>exchange</th>
      <th>type</th>
      <th>contract size</th>
    </tr>
  {% for asset in assets %}
    <tr>
      <td><a href = "{{url_for('editAsset', asset_id = asset.id)}}">{{asset.symbol}}</a></td>
      <td>{{asset.description}}</td>
      <td style = "text-align: center">{{asset.exchange}}</td>
      <td style = "text-align: center">{{asset.type}}</td>
      <td style = "text-align: right">{{asset.size}}</td>
    </tr>
  {% endfor %}
</table>
<a href="{{url_for('newAsset')}}">Create a New Asset</a>
</div>
{% include 'footer.html' %}
